name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    branches: [develop]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Render
        run: |
          if [ -z "${{ secrets.RENDER_DEPLOY_HOOK }}" ]; then
            echo "::error::Secret RENDER_DEPLOY_HOOK is empty or missing!"
            exit 1
          fi

          echo "Triggering Render deploy..."
          curl -f -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"